html, body {
    height: 100%;
    
}

h2 {
    text-align: left;
    padding: 0.2em;
}

p {
    padding: 0.5em;
    justify-content: center;
    text-align: left;
    font-family: monospace;
    line-height: 1.1;
    font-size: 22px;
}

#container {
    display: flex;
    background-color: #2a2a2a;
    height: 100%;
    flex-direction: column;
}

#topTitleBar {
    background-color: #000000;
    border-bottom-style: groove;
    position: center;
    height: 125px;
    width: 100%;
    text-align: center; 
}

#topTitleText {
    color: #c60202;
    display: inline-block;
    line-height: 67px;
}

#gameCanvas {
    display: flex;
    background-color: #000000;
    border-style: groove;
    width: 650px;
    height: 650px;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
}

#gameScoreBox {
    display: block;
    float: right;
    position: absolute;
    border-style: groove;
    background-color: #f1f1f1;
    width: 175px;
    height: 650px;
    margin: 0 auto;
    top: 163px;
    right: 250px;
}

    
