

#topTitleBar {
    background-color: black;
    position: center;
    height: 125px;
    width: 100%;
    text-align: center; 
}

#topTitleText {
    color: red;
    display: inline-block;
    line-height: 67px;
}
