html, body {
    height:100%;
}

h3 {
    text-align: left;
    padding: 5px;
}

p{
    padding: 5px 0px 5px 5px;
}

#container {
    background-color: #2a2a2a;
    height: 100%; 
}

#topTitleBar {
    background-color: #000000;
    border-bottom-style: groove;
    position: center;
    height: 125px;
    width: 100%;
    text-align: center; 
}

#topTitleText {
    color: #c60202;
    display: inline-block;
    line-height: 67px;
}

#gameCanvas {
    display: block;
    background-color: #000000;
    border-style: groove;
    width: 675px;
    height: 675px;
    position: center;
    margin: 0 auto;
    margin-top: 25px;
}

#gameScoreBox {
    display: block;
    float: right;
    position: absolute;
    border-style: groove;
    background-color: #f1f1f1;
    width: 175px;
    height: 300px;
    margin: 0 auto;
    top: 170px;
    right: 250px;
}